<!-- Header -->
<header id="header">
    <div class="content">
        <h1><a href="{{ if strings.HasPrefix .Site.Data.header.title_url "#" }}{{ .Site.Data.header.title_url }}{{ else }}{{ .Site.Data.header.title_url | relURL }}{{ end }}">{{ .Site.Title }}</a></h1>
        {{ partial "markdownify-block" .Site.Data.header.subtitle }}
        {{ if .Site.Data.header.actions }}
            <ul class="actions">
                {{ range $action := .Site.Data.header.actions }}
                    <li><a href="{{ if strings.HasPrefix $action.url "#" }}{{ $action.url }}{{ else }}{{ $action.url | relURL }}{{ end }}" class="button{{ if $action.is_primary }} primary{{ end }}{{ if $action.icon }} icon {{ $action.icon }}{{ end }}{{ if $action.is_scrolly }} scrolly{{ end }}">{{ $action.label }}</a></li>
                {{ end }}
            </ul>
        {{ end }}
    </div>
    {{ if .Site.Data.header.img }}
        <div class="image{{ if .Site.Data.header.img.phone_border }} phone{{ end }}"><div class="inner"><img src="{{ .Site.Data.header.img.path | relURL }}" alt="" /></div></div>
    {{ end }}
</header>
